/* Change the background of the entire visible page */
body {
    background-color: #FFCCCC; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: 61BBFA;
    font-size: 20px;
    font-family: 'comforta', bold;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px #FBAE7; /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */

