/* Change the background of the entire visible page */
body {
    background-color: #fa52db; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: lightblue;
    font-size: 16px;
    font-family: 'monospace', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
  
